<form class="container" [formGroup]="user" (ngSubmit)="onSubmit()">
  <label>First name:</label>
  <input type="text" formControlName="firstName" id="firstName"><br>
  <label>Last name:</label>
  <input formControlName="lastName" id="lastName"><br>
  <label>Email:</label>
  <input formControlName="email" id="email"><br>
  <label>Password:</label>
  <input type="password" formControlName="password" id="password">
  <button type="submit">Submit</button>
</form>
<button routerLink="/part2">PART 2</button>
<router-outlet></router-outlet>
